body {

background-image: url("../images/train.jpg");

}

#trains {

    background-color:rgb(0, 0, 0, 0.7);

}

tr {

    font-family: 'VT323', monospace;
    color: yellowgreen;
    font-size: 18pt;


}




h1 {

    font-family: 'Black Ops One', cursive;
    color: whitesmoke;
    font-size: 80pt;
    text-shadow: #000 10px 5px 2px;


}

.panel-title {

    font-family: 'Roboto', sans-serif;
    color: dimgray;

}

.panel-body {

    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
}

.btn {

background-color: gray;
color: white
}